@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-ipb-dark: #0C0B89;
  --color-ipb-blue: #1E40AF;
  --background-image-auth-pattern: url('./assets/background.png');
}